<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${@environment.getProperty('spring.application.name') + ' - ' + title}"></title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
</head>
</html>
